// Global colours
$white: hsl(0, 0%, 100%);
$check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

// Light Theme
$light_background: hsl(0, 0%, 98%);
$light_unchecked-circle: hsl(236, 33%, 92%);
$light_text-menu: hsl(236, 9%, 61%);
$light_text-task: hsl(235, 19%, 35%); // hover
$light_text-task-checked: hsl(233, 11%, 84%);

// Dark Theme
$dark_background: hsl(235, 21%, 11%);
$dark_unchecked-circle: hsl(237, 14%, 26%);
$dark_text-menu: hsl(234, 11%, 52%);
$dark_text-menu-hover: hsl(236, 33%, 92%);
$dark_text-task: hsl(234, 39%, 85%);
$dark_text-task-checked: hsl(233, 14%, 35%);